*{
        margin: 0px;
        border:0px;
        padding: 0%;
    }
    div{
        display: flex;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
       
        
    }
    .div1{
        background-image: url(div1.jpg);
        background-size: cover;
        background-attachment: fixed;
       
        
    
    }
    .div2{
        background-image: url(div2.jpg);
        background-size: cover;
        background-attachment: fixed;
        
    }
    .div3{
        background-image: url(div3.jpg);
        background-size: cover;
        background-attachment: fixed;
        
    }
    .div4{
        background-image: url(div4.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    nav  li{
        list-style: none;
        display: inline;
        
        padding: 10px;
        color: black;
        top:5px;
        
    }
    li:nth-child(1){
        color: rgb(214, 39, 68);
        background-color: white;
        border-radius: 5px;
    }
    header {
    
        
        position: sticky;
        justify-content:left;
        top:5px;
        height: auto;
        font-size: 20px;
    }
    header li a:hover{
        color: rgb(214, 39, 68);
        background-color: white;
        border-radius: 5px;
    
    }
    .home{
        background-color: aliceblue;
        color: black;
        font-size: 50px;
        width: auto;
        height: auto;
        border-radius: 10px;
    }
    .about{
        background-color: rgb(214, 39, 68);
        color: white;
        font-size: 50px;
        width: auto;
        height: auto;
        border-radius: 10px;
    }
    
    
    .blog1{
        width: auto;
        height: 400px;
        color: aliceblue;
        background-color: rgb(63, 59, 60);
        align-items: center;
        justify-content: center;
        font-size: 100px;
    }
    h1{
        justify-content: center;
        align-items: center;
    }
    a{
        text-decoration: none;
        color: black;
    }
    footer{
        display: flex;
        bottom: 0%;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: black;
        font-size: 20px;
    
    }


